<footer>
  <ul>
    <li><a href="#/about">About</a></li>
    <li><a href="#/shop">Shop all</li>
    <li><a href="#/contact">Contact</a></li>
    <li><a href="#/upload">Upload design</a></li>
  </ul>
  <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</small>
</footer>
