<div class="row">
  <div class="small-12 columns">
    <div class="top-bar">
      <div id="responsive-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#/"><img src="{{ 'logo.png' | asset_url }}" /></a>
            </li>
            <li><a href="#/shop">Shop</a></li>
            <li><a href="#/my-city">My City</a></li>
            <li><a href="#/categories">Categories</a></li>
            <li><a href="#/upload">Upload</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
